{% extends 'base.html' %}

{% block content %}

    <div class="card mt-4">
        <div class="card-header">
            {{post.title}}
        </div>
        <div class="card-body">
            {{post.content}}
        </div>
        <div class="card-footer">
            {{post.created_at}}
            <a href="{% url 'posts:delete' id=post.id %}" class="btn btn-warning">delete</a>
            <a href="{% url 'posts:edit' id=post.id %}" class="btn btn-primary">edit</a>
        </div>
    </div>
    
    
    

{% endblock %}